.app__works {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__work-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0 2rem;

    .app__work-filter-item {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        color: #000;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0.5rem;

        &:hover {
            background-color: var(--secondary-color);
            color: var(--white-color);
        }

        @media screen and (min-width: 2000px) {
            padding: 1rem 2rem;
            border-radius: 0.85rem;
        }
    }

    .item-active {
        background-color: var(--secondary-color);
        color: var(--white-color);
    }
}

.app__work-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    // gap: 30px;
    width: 100%;

    .app__work-box {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
        padding: 1rem;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        @media (min-width: 768px) and (max-width: 992px) {
            width: 50%;
        }

        @media (min-width: 992px) and (max-width: 1200px) {
            width: 33%;
        }

        @media screen and (min-width: 1200px) {
            width: 25%;
        }

        @media screen and (min-width: 2000px) {
            width: 20%;
        }
    }

    .app__work-item {
        flex-direction: column;
        // margin: 2rem;
        padding: 0.5rem;
        border-radius: 12px;
        background-color: var(--white-color);
        color: #000;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 100%;

        &:hover {
            box-shadow: inset 0 0 0 1px rgba(66, 133, 156, .12), 0 12px 24px -12px rgba(66, 133, 156, .3);
        }

        @media screen and  (min-width: 2000px) {
            padding: 1.2rem;
            border-radius: 0.75rem;
        }
    }
}

.app__work-img {
    width: 100%;
    height: 200px;
    position: relative;

    @media screen and  (max-width: 500px) {
        height: 240px;
    }

    @media (min-width: 550px) and  (max-width: 768px) {
        height: 268px;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
    }

    @media screen and  (min-width: 2000px) {
        height: 350px;
    }
}

.app__work-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    border-radius: 0.5rem;
    opacity: 0;
    // transition: all 0.3s ease;

    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.4);
        color: var(--white-color);
        margin: 1rem;
        font-family: var(--font-base);
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease;

        svg {
            width: 50%;
            height: 50%;
            color: var(--white-color);
            transition: all 0.3s ease;
        }

        &:hover {
            background-color: rgba(256,256,256,0.2);
            color: var(--secondary-color);
        }

    }
}

.app__work-content {
    padding: 0.5rem 1rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    // height: 130px;

    h4 {
        margin-top: 0.5rem;
        line-height: 1.5;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .app__work-tag {
        position: relative;
        padding: 0.3rem 1rem;
        border-radius: 25px;
        background-color: var(--lightGray-color);
        margin-top: 0.75rem;
        
        p {
            color: var(--gray-color);
            font-weight: 500;
        }
    }
}